{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenges | Solve It</title>
    <link rel="stylesheet" href="{% static 'css/challenge-page.css' %}" />
  </head>
  <body>
    <section class="all-Page">
      {% include "components/nav.html" %}

      <main class="container">
        <div class="page-header">
          <h1>Challenges</h1>
        </div>

        {% comment %} <div class="tabs">
          <div class="level-filter">
            <select id="phasesDropdown" class="level-select">
              <option value="all">All Phases</option>
              {% for phase in phases.all %} 
                {% if not phase.is_locked %}
                  {% if phase.name == "phase 3" %}
                    <option value="{% url 'thirdPhase' %}">{{ phase.name }}</option>
                  {% else %}
                    <option value="{{ phase.name }}">{{ phase.name }}</option>
                  {% endif %}
                {% endif %} 
              {% endfor %}
            </select>
          </div> {% endcomment %}

          <div class="level-filter">
            <select id="levelsDropdown" class="level-select">
              <option value="all">All Levels</option>
              <option value="easy">Easy</option>
              <option value="medium">Medium</option>
              <option value="hard">Hard</option>
            </select>
          </div>
        </div>

        <div class="challenge-list">
          {% if phases %} 
            {% for phase in phases.all %} 
              {% if not phase.is_locked %} 
                {% for task in phase.phase_tasks.all %}
          <div
            class="challenge-card"
            data-phase="{{ phase.name }}"
            data-level="{{ task.level|lower }}"
          >
            <div class="challenge-info">
              <div class="challenge-checkbox"><input type="checkbox" /></div>
              <div class="challenge-details">
                <h3>{{ task.title }}</h3>
                <div class="challenge-meta">
                  <span class="level-tag {{ task.level|lower }}">Level: {{ task.level|capfirst }}</span>
                  <span>Score: {{ task.points }} points</span>
                  {% if task.category %}
                    <span>Category: {{ task.category }}</span>
                  {% endif %}
                  <span>Phase: {{ phase.name }}</span>
                </div>
              </div>
            </div>

            {% if task.task_solutions.all %}
              <div class="solve-btn" style="background-color: #46e34c69 ;">Done</div>
              
            {% else %}
              <button onclick="window.location.href=`{% url 'task' task.id %}`" class="solve-btn">Solve</button>
            {% endif %}
          </div>


              {% endfor %}
            {% endif %}
           {% endfor %} 
          {% endif %}
        </div>
      </main>
    </section>

    <script>
      const phasesDropdown = document.getElementById("phasesDropdown");
      const levelsDropdown = document.getElementById("levelsDropdown");

      function filterChallenges() {
        const selectedPhase = phasesDropdown.value;
        const selectedLevel = levelsDropdown.value.toLowerCase();

        console.log(selectedPhase)
        if (selectedPhase.startsWith("/")) {
            window.location.href = selectedPhase; // Redirect to the URL
        }else{
          const challengeCards = document.querySelectorAll(".challenge-card");
  
          challengeCards.forEach((card) => {
            const cardPhase = card.getAttribute("data-phase");
            const cardLevel = card.getAttribute("data-level");
  
            const matchesPhase =
              selectedPhase === "all" || cardPhase === selectedPhase;
            const matchesLevel =
              selectedLevel === "all" || cardLevel === selectedLevel;
  
            if (matchesPhase && matchesLevel) {
              card.style.display = "flex";
            } else {
              card.style.display = "none";
            }
          
          });
        }
      }

      phasesDropdown.addEventListener("change", filterChallenges);
      levelsDropdown.addEventListener("change", filterChallenges);

      function toggleMenu() {
        const menu = document.getElementById("dropdownMenu");
        menu.style.display = menu.style.display === "flex" ? "none" : "flex";
      }

      function closeDropDown() {
        const menu = document.getElementById("dropdownMenu");
        if (menu.style.display === "flex") menu.style.display = "none";
      }
    </script>
  </body>
</html>
