{% load static %}
<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Participant</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
</head>
<body>

  {% include "components/nav.html"%}

  


    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-lg text-center">
          <h1 class="text-2xl font-bold sm:text-3xl">Create Participant</h1>
          
          <p class="mt-4 text-gray-500">
            Enter here you personal and team information
            </p>
        </div>
        {% include "components/error_message.html" %}
        <form method="post" action="{% url 'login' %}" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
            {% csrf_token %}
            
            <div>
              <label for="Userame" class="sr-only">Userame</label>
        
              <div class="relative">
                  <input type="text" name="username" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" placeholder="username" maxlength="70" required="" id="username">
                  <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                      <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"></path>
                  </svg>
              </span>
              </div>
            </div>

            <div>
              <label for="password" class="sr-only">Password</label>
              <div class="relative">
                <input type="password" name="password" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" placeholder="password" maxlength="70" required="" id="password">
                <span class="absolute inset-y-0 end-0 grid place-content-center px-4" onclick="togglePasswordVisibility()">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5c-7 0-9 7-9 7s2 7 9 7 9-7 9-7-2-7-9-7z"></path>
                    <circle cx="12" cy="12" r="3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                  </svg>
                </span>
              </div>
            </div>
            <script>
              function togglePasswordVisibility() {
                const passwordInput = document.getElementById('password');
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);
              }
            </script>
                
                <button
                  type="submit"
                  class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
                >login</button>
          </div>
        </form>
      </div>
</body>
</html>