{% if status %}
    <p>{{status}}</p>
{% endif %}

{% load static %}
<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participant Login</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
</head>
<body>
    {%if err %}
    <h1>{{err}}</h1>
    {% endif %}

    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-lg text-center">
          <h1 class="text-2xl font-bold sm:text-3xl">Participant Login</h1>
        </div>

        {% if messages %}
            {% for message in messages %}
                {% include "widgets/error_message.html" with message=message %}
            {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'participantLogin' %}" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
            {% csrf_token %}
            <!-- ! Field -->
            <h2 class="text-base font-medium sm:text-sm">Team Section</h2>
            <div>
                <label for="username" class="sr-only">Username</label>
                
                <div class="relative">
                {{ form.username}}
            </div>
        </div>
        <div>
            <label for="password" class="sr-only">Password</label>
      
            <div class="relative">
                {{ form.password}}
            </div>
          </div>

          <div class="flex items-center justify-between">
            <p class="text-sm text-gray-500">
                No Account?
                <a class="underline" href="{% url 'createParticipant' %}">Create</a>
              </p>
                
                <button
                  type="submit"
                  class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
                >Login</button>
          </div>
        </form>
      </div>
</body>
</html>