{% load static %}
<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Participant</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
</head>
<body>
  
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-lg text-center">
          <h1 class="text-2xl font-bold sm:text-3xl">Create Participant</h1>
          
          <p class="mt-4 text-gray-500">
            Enter here you personal and team information
          </p>
        </div>
        {% include "components/error_message.html" %}
        
        <form method="post" action="{% url 'createParticipant' %}" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
            {% csrf_token %}
            <!-- ! Field -->
            <h2 class="text-base font-medium sm:text-sm">Team Section</h2>
            <div>
                <label for="team name" class="sr-only">Team Name</label>
                
                <div class="relative">
                {{ teamForm.teamName}}
            </div>
        </div>
        <div>
            <label for="team password" class="sr-only">Team Password</label>
      
            <div class="relative">
                {{ teamForm.teamPassword}}
            </div>
          </div>

          <h2 class="text-base font-medium sm:text-sm">Participant Section</h2>
          
          <div>
            <label for="Username" class="sr-only">Username</label>
      
            <div class="relative">
                {{ userForm.username}}
            </div>
          </div>

          <div>
            <label for="First Name" class="sr-only">First Name</label>
      
            <div class="relative">
                {{ userForm.first_name}}
            </div>
          </div>
          
          <div>
            <label for="Last name" class="sr-only">Last name</label>
      
            <div class="relative">
                {{ userForm.last_name}}
            </div>
          </div>
          
          <div>
            <label for="password" class="sr-only">Password</label>
            
            <div class="relative">
            {{ userForm.password1}}
            </div>
          </div>
          
          <div>
            <label for="confirm password" class="sr-only">Confirm password</label>
            
            <div class="relative">
            {{ userForm.password2}}
            </div>
          </div>

          <div class="flex items-center justify-between">
            <p class="text-sm text-gray-500">
                No Team?
                <a class="underline" href="{% url 'createTeam' %}">Create a Team</a>
              </p>
                
                <button
                  type="submit"
                  class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
                >Create</button>
          </div>
        </form>
      </div>
</body>
</html>